#game-container {
    width: 1280px;
    height: 720px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    background-image: url("../assets/img/backgrounds/background.png");
    background-position:bottom;
}

.player {
    width: 143px;
    height: 170px;

    position: absolute;
    left: 80px;
    bottom: 60px;

    background-image: url("../assets/img/characters/pilgrim.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    z-index: 10;
}

.ground {
    position: absolute;
    bottom:0;

    width: 100%;
    height: 80px;

    background-color: brown;
}

.platform {
    background-color: brown;
    height: 30px;
    position: absolute;
}

.platform1 {
    left: 300px;
    bottom: 170px;
    width: 220px;
}

.platform2 {
    left: 600px;
    bottom: 260px;
    width: 200px;
}
