* {
    box-sizing: border-box;
}

#game-container {
    width: 1280px;
    height: 720px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;

    background-image: url("../assets/img/backgrounds/background.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.world {
    position:absolute;
    width: 3000px;
    height: 100%;
}

.player {
    width: 80px;
    height: 150px;

    position: absolute;
    left: 80px;
    bottom: 80px;

    background-image: url("../assets/img/characters/pilgrim.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    z-index: 10;

    border: 1px solid yellow;
}

.ground {
    position: absolute;
    bottom:0;

    width: 100%;
    height: 80px;

    background-color: brown;
}

.world {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3000px;
    height: 100%;
}

.platform {
    background-color: brown;
    position: absolute;
}

.platform1 {
    border: 1px solid yellow;
}

.platform2 {

}

.platform3 {

}

.respawning {
    animation: blink 0.4s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.platform3 {
    left: 900px;
    bottom: 350px;
    width: 180px;
}

.lives-container {
    position:absolute;
    left: 20px;
    top: 30px;

    display: flex;
    gap: 8px;

    z-index: 100;
}

.heart, .empty-heart {
    width: 62px;
    height: 62px;
}