* {
    box-sizing: border-box;
}

#game-container {
    width: 1280px;
    height: 720px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;

    background-image: url("../assets/img/backgrounds/background.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.world {
    position:absolute;
    width: 3000px;
    height: 100%;
}

.player {
    width: 80px;
    height: 150px;

    position: absolute;
    left: 80px;
    bottom: 80px;

    background-image: url("../assets/img/characters/pilgrim.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

    z-index: 10;

    border: 1px solid yellow;
}

.ground {
    position: absolute;
    bottom:0;

    width: 100%;
    height: 80px;

    background-color: brown;
}

.world {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3000px;
    height: 100%;
}

.platform {
    background-color: brown;
    position: absolute;
}

.platform1 {
    border: 1px solid yellow;
}

.platform2 {

}

.platform3 {

}

.respawning {
    animation: blink 0.4s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.platform3 {
    left: 900px;
    bottom: 350px;
    width: 180px;
}

.lives-container {
    position:absolute;
    left: 30px;
    top: 30px;

    display: flex;
    gap: 8px;

    z-index: 100;
}

.heart, .empty-heart {
    width: 62px;
    height: 62px;
}

.overlay-game-over {
    display: none;
    background-color: rgba(0,0,0,0.6);
    z-index: 100000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-game-over {
    width: 600px;
    height: 300px;
}

.reset-button {
    font-family: "Press Start 2P", monospace;

    padding: 24px;

    font-size: 16px;
    font-weight: bold;

    color: white;
    background-color: #b22222;

    border: 3px solid white;
    border-radius: 6px;

    cursor: pointer;

    transition: transform 0.15s;
}

.reset-button:hover {
    transform: scale(1.05);
}

.reset-button:active {
    transform: scale(0.98);
}